  <h3><%= @question.text %> | <%= link_to 'Edit', edit_question_path(@question) %> | <%= link_to 'Delete', question_path(@question),
              method: :delete %></h3>
 <% if @question.answers.count > 0 %>
    <ul>
      <% @question.answers.each do | answer | %>
        <li><%= answer.text %> | <%= answer.responses.count %> |  <%= link_to 'Edit', edit_answer_path(answer) %> | <%= link_to 'Delete', answer_path(answer),
              method: :delete %>
                
              </li>

      <% end %>
    </ul>
  <% else %>
    <p>No answers yet</p>
  <% end %> 


  <h1>Add an Answer </h1>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@answer.errors.count, "error") %>
      </h2>
      <ul>
        <% @answer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for @answer do |f| %>
<%= f.hidden_field :question_id, :value => @question.id %>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
