<section class="accent-padding background-green page-header">
  <h1 class="tac text-white">Review Dashboard</h1>
</section>
<p class="tac"><%= link_to("Download CSV", reviews_path(format: :csv), class: "btn btn-success",) %></p>

<section class="main">
  <% if @pending_reviews.count > 0 %>
    <h2 class="tac text-green">Pending Reviews</h2>
    <p class="subscript decision-feedback tac"></p>
     <% @pending_reviews.each do | review | %>

    <div class="flex-container-no accent-padding" id="pending-reviews">
      <div id="decision-wrapper">
        <%= form_for(review, remote: true, :html => {:class => "ib"}) do |fa| %>
            <%= fa.hidden_field :status, :value => "approved" %>
            <%= fa.submit "âœ“", class: "text-green decision approval ib" %>
          <% end %>
          <%= form_for(review, remote: true, :html => {:class => "ib"}) do |fa| %>
            <%= fa.hidden_field :status, :value => "hidden" %>
            <%= fa.submit "ð„‚", class: "decision denial ib" %>
          <% end %>
          <%= form_for(review, remote: true) do |fa| %>
            <%= fa.hidden_field :staff_favorite, :value => true %>
            <%= fa.hidden_field :status, :value => "approved" %>
            <%= fa.submit "favorite?", class: "ib decision favorited" %>
          <% end %>
      </div>
      <div class="half">
        <h3 class="nmb"><%= review.author_first %> 
          <% if review.author_last %>
            <span class="ttu"><%= review.author_last.first(1) %>.</span> 
          <% end %>
          <span class="text-green star-wrapper">
          <% review.rating.times do%>
            â˜…
          <% end %>
          </span></h3>
        <p><%= review.text %></p>
      </div>
      <div class="half tar">
        <h3 class="text-green ttl nmb"><%= review.product.title %></h3>
        <p class="subscript nmt"><%= review.created_at.strftime('%m/%d/%Y') %></p>
      </div>
    </div>
    <% end %>
  <% else %>
    <h2 class="tac text-green">No New Reviews</h1>
  <% end %>
</section>

<section class="main background-beige">
  <h2 class="tac">Staff Favorites</h2>
  <% @reviews.each do | review | %> 
  <% if review.staff_favorite == true %>
    <div class="flex-container-no">
      <div class="half">
        <h3 class="nmb"><%= review.author_first %>
         <% if review.author_last %>
            <span class="ttu"><%= review.author_last.first(1) %>.</span> 
          <% end %>
        <span class="text-green star-wrapper">
          <% review.rating.times do%>
            â˜…
          <% end %>
        </span>
        </h3>
        <p><%= review.text %></p>
      </div>
      <div class="half tar">
            <h3 class="text-green ttl nmb"><%= review.product.title %></h3>
        <p class="subscript nmt"><%= review.created_at.strftime('%m/%d/%Y') %></p>
        <%= form_for(review, remote: true) do |fa| %>
          <%= fa.hidden_field :staff_favorite, :value => false %>
      <%= fa.submit "unfavorite? â™¥", class: "useful" %>
      <% end %>
      </div>
    </div>
    <% end %>
    <% end %>
  </section>

<section class="main">
  <h2 class="tac">Latest Reviews</h2>
  <% @reviews.each do | review | %> 
    <% if review.status != "pending" %>
    <div class="flex-container-no lazy">
      <div class="half">
        <h3 class="nmb"><%= review.author_first %> 
          <% if review.author_last %>
            <span class="ttu"><%= review.author_last.first(1) %>.</span> 
          <% end %>
          <span class="text-green star-wrapper">
          <% review.rating.times do%>
            â˜…
          <% end %>
          </span></h3>
        <p><%= review.text %></p>
      </div>
      <div class="half tar" id="all-reviews">
        <h3 class="text-green ttl nmb"><%= review.product.title %></h3>
        <p class="subscript nmt"><%= review.created_at.strftime('%m/%d/%Y') %></p>
        <%= form_for(review, remote: true) do |fa| %>
        <%= fa.hidden_field :vote, :value => review.vote + 1 %>
        <%= fa.submit "useful? â™¡", class: "useful nmb" %><p class="ib subscript upvote nmb"><%= review.vote %></p>
        <p class="subscript nmt"><span><%= review.status %></span></p>
      <% end %>
      </div>
    </div>
    <% end %>
   <% end %>
  </section>

<script>
  $('.decision').click(function () {
    $(this).parent().parent().parent().hide();
    $('.decision-feedback').hide(); 
    if ($(this).hasClass('approval')) {
      $('.decision-feedback').removeClass('text-red').addClass('text-green').text('approved').show();
    }
    else if ($(this).hasClass('denial')) {
      $('.decision-feedback').removeClass('text-green').addClass('text-red').text('hidden').show();
    }
    else if ($(this).hasClass('favorited')) {
      $('.decision-feedback').removeClass('text-red').addClass('text-green').text('approved & favorited').show();
    }
  })

  $('#all-reviews .useful').click(function() {
    $(this).attr("value", "â™¥"); 
    votes = parseInt($(this).next('.upvote').text()) + 1  
    $(this).next('.upvote').text(votes)
  })
</script>
<!-- seed file with approve / deny -->
<!-- lazy load  -->
