<section class="accent-padding background-green page-header">
  <h1 class="tac text-white">Review Dashboard</h1>
</section>
<p class="tac"><%= link_to("↧", reviews_path(format: :csv), class: "btn btn-success",) %></p>

<section class="main">
  <% if @pending_reviews.count > 0 %>
    <h2 class="tac text-green">Pending Reviews</h2>
    <table class="accent-padding fw">
      <% @pending_reviews.each do | review | %>
        <tr>
          <td>
            <%= form_for(review, remote: true) do |fa| %>
              <%= fa.hidden_field :status, :value => "approved" %>
              <%= fa.submit "✔", class: "green decision approval" %>
            <% end %>
            <%= form_for(review, remote: true) do |fa| %>
              <%= fa.hidden_field :status, :value => "hidden" %>
              <%= fa.submit "✘", class: "decision denial" %>
            <% end %>
            <%= form_for(review, remote: true) do |fa| %>
              <%= fa.hidden_field :staff_favorite, :value => true %>
              <%= fa.submit "favorite?", class: "" %>
            <% end %>
          </td>
          <td><span><%= review.product.title %> | <%= review.rating %></span></td>
          <td><%= review.text %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h2 class="tac text-green">No New Reviews</h1>
  <% end %>
</section>

 <section>
  <h1>Latest Reviews</h1>
  <ul>
    <% @not_pending_reviews.limit(10).each do | review | %>
      <% if review.status == "denied" %>
      <div class="hidden">
      <% else %>
      <div>
      <% end %>
      <li><b><%= review.product.title %> | <%= review.rating %> : </b> <%= review.text %></li>
    </div>
    <% end %>
  </ul>
</section> 
<style>
form {
  display: inline-block;
} 
</style>
<script>
  $('.decision').click(function () {
    $(this).parent().parent().parent().hide();
    $('.decision-feedback').hide(); 
    if ($(this).hasClass('approval')) {
      $('.decision-feedback').removeClass('red').addClass('green').text('approved').show();
    }
    else if ($(this).hasClass('denial')) {
      $('.decision-feedback').removeClass('green').addClass('red').text('removed').show();

    }
  })
</script>

<!-- favorite box -->
<!-- sort by chronological -->
<!-- approve / deny feedback -->


