<section class="accent-padding background-purple page-header flex-container-no paca-background">
  <div class="half-no"></div>
  <div class="half-no">
    <h3 class="tac">Review Dashboard</h3>
  </div>
</section>
<section class="main">
  <% if @pending_reviews.count > 0 %>
    <h3 class="tac">Pending Reviews</h2>
    <p class="subscript decision-feedback tac"></p>
     <% @pending_reviews.each do | review | %>

    <div class="flex-container-no accent-padding" id="pending-reviews">
      <div id="decision-wrapper">
        <%= form_for(review, remote: true, :html => {:class => "ib"}) do |fa| %>
            <%= fa.hidden_field :status, :value => "approved" %>
            <%= fa.submit "âœ“", class: "decision approval ib" %>
          <% end %>
          <%= form_for(review, remote: true, :html => {:class => "ib"}) do |fa| %>
            <%= fa.hidden_field :status, :value => "hidden" %>
            <%= fa.submit "ð„‚", class: "decision denial ib" %>
          <% end %>
          <!-- comments out favorites until we get move reviews -->
          <% if false %>
          <%= form_for(review, remote: true) do |fa| %>
            <%= fa.hidden_field :staff_favorite, :value => true %>
            <%= fa.hidden_field :status, :value => "approved" %>
            <%= fa.submit "favorite?", class: "subscript ib decision display-fav" %>
          <% end %>
          <% end %>
      </div>
      <div class="half">
        <h4 class="nmb"><%= review.author_first %> 
          <% if review.author_last %>
            <span class="ttu"><%= review.author_last.first(1) %>.</span> 
          <% end %>
          <br class="mo"><span class="star-wrapper">
          <% review.rating.times do%>
            â˜…
          <% end %>
          </span></h4>
        <p><%= review.text %></p>
      </div>
      <div class="half tar do">
        <h4 class="ttl nmb"><%= review.product.title %></h4>
        <p class="subscript nmt"><%= review.created_at.strftime('%m/%d/%Y') %></p>
      </div>
    </div>
    <% end %>
  <% else %>
  <div class="tac">
    <h3 class="ib vam">No Pending Reviews</h3>
    </div>
  <% end %>
</section>

<% if false %>
  <% if @favorited_reviews.count > 0 %>
  <section class="main background-purple">
    <h3 class="tac">Staff Favorites</h3>
    <% @favorited_reviews.each do | review | %> 
      <div class="flex-container">
        <div class="half">
          <h4 class="nmb"><%= review.author_first %>
           <% if review.author_last %>
              <span class="ttu"><%= review.author_last.first(1) %>.</span> 
            <% end %>
          <span class="star-wrapper">
            <% review.rating.times do%>
              â˜…
            <% end %>
          </span>
          </h4>
           <div class="mo">
            <h4 class="ttl nmb"><%= review.product.title %></h4>
            <p class="subscript nmt"><%= review.created_at.strftime('%m/%d/%Y') %></p>
          </div>
          <p class="nmb"><%= review.text %></p>
            <%= form_for(review, remote: true) do |fa| %>
            <%= fa.hidden_field :staff_favorite, :value => false %>
            <%= fa.submit "unfavorite?", class: "subscript ib decision favorited display-fav nmb" %>
            <% end %>
        </div>
        <div class="half tar" id="staff-favorite-details">
              <h4 class=" ttl nmb do"><%= review.product.title %></h4>
          <p class="subscript nmt do"><%= review.created_at.strftime('%m/%d/%Y') %></p>
          <%= form_for(review, remote: true) do |fa| %>
          <%= fa.hidden_field :vote, :value => review.vote + 1 %>
          <%= fa.submit "helpful?", class: "useful nmb" %><p class="ib subscript upvote nmb"><%= review.vote %></p>
        <% end %>
        </div>
      </div>
      <% end %>
    </section>
  <% end %> 
<% end %> 

<section class="main-to">
  <h3 class="tac">Latest Reviews</h3>
  <% @latest_reviews.each_with_index do | review, index | %> 
      <% if index % 2 == 0 %> 
        <div class="flex-container lazy main">
      <% else %>
        <div class="flex-container lazy background-purple main">
      <% end %>
      <div class="half">
        <h4 class="nmb"><%= review.author_first %> 
          <% if review.author_last %>
            <span class="ttu"><%= review.author_last.first(1) %>.</span> 
          <% end %>
          <span class="star-wrapper">
          <% review.rating.times do%>
            â˜…
          <% end %>
          </span></h4>
           <div class="mo">
          <h4 class=" ttl nmb"><%= review.product.title %></h4>
          <p class="subscript nm"><%= review.created_at.strftime('%m/%d/%Y') %></p>
          <p class="subscript nmt"><span><%= review.status %></span></p>

        </div>
        <p class="nmb"><%= review.text %></p>
        <% if false %>
         <%= form_for(review, remote: true) do |fa| %>
          <%= fa.hidden_field :staff_favorite, :value => true %>
          <%= fa.submit "favorite?", class: "subscript ib decision favorited display-fav" %>
          <% end %>
          <% end %> 
      </div>
      <div class="half tar" id="all-reviews">
        <h4 class="ttl nmb do"><%= review.product.title %></h4>
        <p class="subscript nmt do"><%= review.created_at.strftime('%m/%d/%Y') %></p>
        <%= form_for(review, remote: true) do |fa| %>
        <%= fa.hidden_field :vote, :value => review.vote + 1 %>
        <%= fa.submit "helpful?", class: "useful nmb" %><p class="ib subscript upvote nmb"><%= review.vote %></p>
        <p class="subscript nmt do"><span><%= review.status %></span></p>
      <% end %>
      </div>
    </div>
   <% end %>
       <%= will_paginate @reviews %>

  </section>

<script>
  $('.decision').click(function () {
    $(this).parent().parent().parent().hide();
    $('.decision-feedback').hide(); 
    if ($(this).hasClass('approval')) {
      $('.decision-feedback').text('approved').show();
    }
    else if ($(this).hasClass('denial')) {
      $('.decision-feedback').text('hidden').show();
    }
    else if ($(this).hasClass('favorited')) {
      $('.decision-feedback').text('approved & favorited').show();
    }
  })

  $('.useful').click(function() {
    $(this).attr("value", "thanks!"); 
    $(this).addClass('filled-paca')
    votes = parseInt($(this).next('.upvote').text()) + 1  
    $(this).next('.upvote').text(votes)
  })
</script>
