<section class="accent-padding background-purple page-header flex-container-no paca-background">
  <div class="half-no"></div>
  <div class="half-no">
    <h2 class="tac">Review Dashboard</h2>
  </div>
</section>
<section class="main">
  <% if @pending_reviews.count > 0 %>
    <h3 class="tac">Pending Reviews</h2>
    <p class="subscript decision-feedback tac"></p>
     <% @pending_reviews.each do | review | %>

    <div class="flex-container-no accent-padding" id="pending-reviews">
      <div id="decision-wrapper">
        <%= form_for(review, remote: true, :html => {:class => "ib"}) do |fa| %>
            <%= fa.hidden_field :status, :value => "approved" %>
            <%= fa.submit "âœ“", class: "decision approval ib" %>
          <% end %>
          <%= form_for(review, remote: true, :html => {:class => "ib"}) do |fa| %>
            <%= fa.hidden_field :status, :value => "hidden" %>
            <%= fa.submit "ð„‚", class: "decision denial ib" %>
          <% end %>
      </div>
      <div class="half">
        <h4 class="nmb"><%= review.author_first %> 
          <% if review.author_last %>
            <span class="ttu"><%= review.author_last.first(1) %>.</span> 
          <% end %>
          <br class="mo"><span class="star-wrapper">
          <% review.rating.times do%>
            â˜…
          <% end %>
          </span></h4>
        <p><%= review.text %></p>
      </div>
      <div class="half tar do">
        <h4 class="ttl nmb"><%= review.product.title %></h4>
        <p class="subscript nmt"><%= review.created_at.strftime('%m/%d/%Y') %></p>
      </div>
    </div>
    <% end %>
  <% else %>
  <div class="tac">
    <h3 class="ib vam">No Pending Reviews</h3>
    </div>
  <% end %>
</section>


<section class="main-to">
  <h3 class="tac">Latest Reviews</h3>
    <% @stickies.each_with_index do | review, index | %> 
  <div>
    <% if index % 2 == 0 %> 
        <div class="flex-container lazy main">
    <% else %>
        <div class="flex-container lazy background-purple main">
    <% end %>
    <div class="half">
      <h4 class="nmb"><%= review.author_first %> 
        <% if review.author_last %>
          <span class="ttu"><%= review.author_last.first(1) %>.</span> 
        <% end %>
        <span class="star-wrapper">
          <% review.rating.times do%>
            â˜…
          <% end %>
          </span>
      </h4>
      <div class="mo">
        <h4 class=" ttl nmb"><%= review.product.title %></h4>
        <p class="subscript nm"><%= review.created_at.strftime('%m/%d/%Y') %></p>
        <p class="subscript nmt"><span><%= review.status %></span></p>
      </div>
      <p class="nmb"><%= review.text %></p>
    </div>

    <div class="half tar" id="all-reviews">
      <h4 class="ttl nmb do"><%= review.product.title %></h4>
      <p class="subscript nmt do"><%= review.created_at.strftime('%m/%d/%Y') %></p>
      <p class="subscript nmt do"><span class="status"><%= review.status %></span></p>
      <% if review.status == "hidden" %>
        <%= form_for(review, remote: true, :html => {:class => "ib change prev-den do"}) do |fa| %>
          <%= fa.hidden_field :status, :value => "approved" %>
          <%= fa.submit "âœ“", class: "text-green decision-change ib" %>
        <% end %>
      <% else %>
        <%= form_for(review, remote: true, :html => {:class => "ib change do"}) do |fa| %>
          <%= fa.hidden_field :status, :value => "hidden" %>
          <%= fa.submit "x", class: "decision-change ib" %>
        <% end %>
      <% end %>
      <%= form_for(review, remote: true, :html => {:class => "ib do"}) do |fa| %>
        <%= fa.hidden_field :created_at, :value => DateTime.current %>
        <%= fa.submit "update time", class: " ib" %>
      <% end %>
      <%= form_for(review, remote: true, :html => {:class => "ib do"}) do |fa| %>
        <%= fa.hidden_field :sticky, :value => true %>
        <%= fa.submit "stick to top", class: " ib" %>
      <% end %>
    </div>
    </div>
   <% end %>

  <% @latest_reviews.each_with_index do | review, index | %> 
  <div>
    <% if index % 2 == 0 %> 
        <div class="flex-container lazy main">
    <% else %>
        <div class="flex-container lazy background-purple main">
    <% end %>
    <div class="half">
      <h4 class="nmb"><%= review.author_first %> 
        <% if review.author_last %>
          <span class="ttu"><%= review.author_last.first(1) %>.</span> 
        <% end %>
        <span class="star-wrapper">
          <% review.rating.times do%>
            â˜…
          <% end %>
          </span>
      </h4>
      <div class="mo">
        <h4 class=" ttl nmb"><%= review.product.title %></h4>
        <p class="subscript nm"><%= review.created_at.strftime('%m/%d/%Y') %></p>
        <p class="subscript nmt"><span><%= review.status %></span></p>
      </div>
      <p class="nmb"><%= review.text %></p>
    </div>

    <div class="half tar" id="all-reviews">
      <h4 class="ttl nmb do"><%= review.product.title %></h4>
      <p class="subscript nmt do"><%= review.created_at.strftime('%m/%d/%Y') %></p>
      <p class="subscript nmt do"><span class="status"><%= review.status %></span></p>
      <% if review.status == "hidden" %>
        <%= form_for(review, remote: true, :html => {:class => "ib change prev-den do"}) do |fa| %>
          <%= fa.hidden_field :status, :value => "approved" %>
          <%= fa.submit "âœ“", class: "text-green decision-change ib" %>
        <% end %>
      <% else %>
        <%= form_for(review, remote: true, :html => {:class => "ib change do"}) do |fa| %>
          <%= fa.hidden_field :status, :value => "hidden" %>
          <%= fa.submit "x", class: "decision-change ib" %>
        <% end %>
      <% end %>
      <%= form_for(review, remote: true, :html => {:class => "ib do"}) do |fa| %>
        <%= fa.hidden_field :created_at, :value => DateTime.current %>
        <%= fa.submit "update time", class: " ib" %>
      <% end %>
      <%= form_for(review, remote: true, :html => {:class => "ib do"}) do |fa| %>
        <%= fa.hidden_field :sticky, :value => true %>
        <%= fa.submit "stick to top", class: " ib" %>
      <% end %>
    </div>
    </div>
   <% end %>
  </section>

       <%= will_paginate @reviews %>


<script>
    $('.change').submit(function() {
    if ($(this).hasClass("prev-den")) {
    var c =  confirm("This will make the review public, are you sure you want to continue?"); 
    }
    else {
      var c = confirm("This will hide the review, are you sure you want to continue?"); 
    }
    var status = $(this).prev('.status').children()
    $(status).text($(status).text() == "hidden" ? "approved" : "hidden"); 
    $(this).hide(); 
    return c; 
  }); 
  $('.decision').click(function () {
    $(this).parent().parent().parent().hide();
    $('.decision-feedback').hide(); 
    if ($(this).hasClass('approval')) {
      $('.decision-feedback').text('approved').show();
    }
    else if ($(this).hasClass('denial')) {
      $('.decision-feedback').text('hidden').show();
    }
    else if ($(this).hasClass('favorited')) {
      $('.decision-feedback').text('approved & favorited').show();
    }
  })

  $('.useful').click(function() {
    $(this).attr("value", "thanks!"); 
    $(this).addClass('filled-paca')
    votes = parseInt($(this).next('.upvote').text()) + 1  
    $(this).next('.upvote').text(votes)
  })
</script>
