  <section class="background-purple main">
  <h2 class="tac">Live Reviews</h2>
  <% @reviews.each do | review | %> 
  <% if review.status == "approved" && review.staff_favorite != true %>
    <div class="flex-container review-wrapper">
      <div class="half">
        <h3 class="nmb"><%= review.author_first %> 
          <% if review.author_last %>
            <span class="ttu"><%= review.author_last.first(1) %>.</span> 
          <% end %>
          <span class="text-green star-wrapper">
          <% review.rating.times do%>
            ★
          <% end %>
          </span></h3>
        <div class="mo">
          <h3 class="text-green ttl nmb"><%= review.product.title %></h3>
          <p class="subscript nmt"><%= review.created_at.strftime('%m/%d/%Y') %></p>
        </div>
        <p class="nmb"><%= review.text %></p>
      </div>
      <div class="half tar" id="live-stream-details">
        <h3 class="text-green ttl nmb do"><%= review.product.title %></h3>
        <p class="subscript nmt do"><%= review.created_at.strftime('%m/%d/%Y') %></p>
  <%= form_for(review, remote: true) do |fa| %>
        <%= fa.hidden_field :vote, :value => review.vote + 1 %>
      <%= fa.submit "helpful?", class: "useful" %><p class="ib subscript upvote"><%= review.vote%></p>
      <% end %>
      </div>
    </div>
    <% end %> 
    <% end %>
    <div class="read-more-reviews tac clickable"><p style="text-decoration: underline" class="clickable">See More Reviews</p></div>

    <a href="https://www.pacas.us/pages/reviews" class="read-more-reviews-link" style="display: none;"><p class="tac" style="text-decoration: underline">All Reviews</p></a>
  </section>
<style>
  .review-wrapper { align-items: flex-start; }
  .review-wrapper:nth-of-type(2) ~ .review-wrapper { display: none; }
  @media only screen and (min-width: 589px) {
  .flex-override { display: flex !important; }
  }
  @media only screen and (max-width: 588px) {
    .flex-override { display: block !important; }
  }
  .clickable { cursor: pointer; }
</style>
<script>
  $('.read-more-reviews p').click(function() {
    $(this).text() === 'See More Reviews'? $(this).text('See Less Reviews') : $(this).text('See More Reviews'); 

    $('.read-more-reviews-link').show();
    $('.review-wrapper').toggleClass("flex-override")
  })
  $('.useful').click(function() {
    $(this).attr("value", "thanks!");
    $(this).addClass('filled-paca')
    votes = parseInt($(this).next('.upvote').text()) + 1  
    $(this).next('.upvote').text(votes)
  })
</script>