<section class="review-slick-mo mo" style="">
  <div class="">
      <div class="tac background-natural review-slick-slide" style="">
        <%= image_tag("5Stars-Teal.svg", class: "m8-review-stars") %>

          <p>The softest ever. It feels like there is a padding on my heel. Very warm and cozy. Will not go back to <span>Bombas</span></p>
          <p class="subscript nm">- Rachel W.</p>
        </div>
              <div class="tac background-natural review-slick-slide" style="">
        <%= image_tag("5Stars-Teal.svg", class: "m8-review-stars") %>

          <p>The best socks, better than <span>Smartwool</span> a different type of softeness and they leave your feet so dry!</p>
          <p class="subscript nm">- Rene S.</p>
        </div>
              <div class="tac background-natural review-slick-slide" style="">
        <%= image_tag("5Stars-Teal.svg", class: "m8-review-stars") %>

            <p>I've worn <span>Features</span> and <span>Bombas</span> but Pacas are my new favorites! I like not only the cushioning and support but the moisture wicking is excellent. Plus they are simply cute!</p>
          <p class="subscript nm">- Stephanie S.</p>
        </div>
</div>



  <div class="">
  <% @reviews.limit(3).each do | review | %> 
      <div class="tac background-natural review-slick-slide" style="">
        <%= image_tag("5Stars-Teal.svg", class: "m8-review-stars") %>

          <p><%= truncate(review.text, length:140) %></p>
          <p class="subscript nm">- <%= review.author_first %> <%= review.author_last.first(1) %>.</p>
        </div>
  <% end %>
</div>
  <div class="">
  <% @reviews.limit(3).offset(3).each do | review | %> 
      <div class="tac background-natural review-slick-slide" style="">
        <%= image_tag("5Stars-Teal.svg", class: "m8-review-stars") %>

          <p><%= truncate(review.text, length:140) %></p>
          <p class="subscript nm">- <%= review.author_first %> <%= review.author_last.first(1) %>.</p>
        </div>
  <% end %>
</div>
  <div class="">
  <% @reviews.limit(3).offset(6).each do | review | %> 
      <div class="tac background-natural review-slick-slide" style="">
        <%= image_tag("5Stars-Teal.svg", class: "m8-review-stars") %>

          <p><%= truncate(review.text, length:140) %></p>
          <p class="subscript nm">- <%= review.author_first %> <%= review.author_last.first(1) %>.</p>
        </div>
  <% end %>
</div>
  <div class="">
  <% @reviews.limit(3).offset(9).each do | review | %> 
      <div class="tac background-natural review-slick-slide" style="">
        <%= image_tag("5Stars-Teal.svg", class: "m8-review-stars") %>

          <p><%= truncate(review.text, length:140) %></p>
          <p class="subscript nm">- <%= review.author_first %> <%= review.author_last.first(1) %>.</p>
        </div>
  <% end %>
</div>
</section>

<section class="review-slick-do do" style="">
  <div class="tac background-natural review-slick-slide" style="">
        <%= image_tag("5Stars-Teal.svg", class: "m8-review-stars") %>

          <p>The softest ever. It feels like there is a padding on my heel. Very warm and cozy. Will not go back to <span>Bombas</span></p>
          <p class="subscript nm">- Rachel W.</p>
        </div>
        <div class="tac background-natural review-slick-slide" style="">
        <%= image_tag("5Stars-Teal.svg", class: "m8-review-stars") %>

          <p>The best socks, better than <span>Smartwool</span> a different type of softeness and they leave your feet so dry!</p>
          <p class="subscript nm">- Rene S.</p>
        </div>
              <div class="tac background-natural review-slick-slide" style="">
        <%= image_tag("5Stars-Teal.svg", class: "m8-review-stars") %>

            <p>I've worn <span>Features</span> and <span>Bombas</span> but Pacas are my new favorites! I like not only the cushioning and support but the moisture wicking is excellent. Plus they are simply cute!</p>
          <p class="subscript nm">- Stephanie S.</p>
        </div>

  <% @reviews.each do | review | %> 
      <div class="tac background-natural review-slick-slide" style="">
        <%= image_tag("5Stars-Teal.svg", class: "m8-review-stars") %>

          <p><%= truncate(review.text, length:190) %></p>
          <p class="subscript nmb">- <%= review.author_first %> <%= review.author_last.first(1) %>.</p>
        </div>
  <% end %>
</section>


<%= image_tag("left-arrow-dark-teal.png", class: "m8-arrow prev-arrow do") %>
<%= image_tag("right-arrow-dark-teal.png", class: "m8-arrow next-arrow do") %>
<%= image_tag("left-arrow-dark-teal.png", class: "m8-arrow prev-arrow mo") %>
<%= image_tag("right-arrow-dark-teal.png", class: "m8-arrow next-arrow mo") %>

<style>
  .background-white { background-color: white; }
  .text-new-teal { color: #1F404A }
  .clickable { cursor: pointer; }
  .review-slick-do, .review-slick-mo { padding: 2vw 7vw; }
  .review-slick-slide { 
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .subscript {font-weight: 300}
  .m8-arrow { 
    cursor: pointer; 
    position: absolute;
  }
  .m8-arrow.prev-arrow {
    left: 0;
  }
  .m8-arrow.next-arrow {
    right: 0;
  }

@media only screen and (min-width: 800px) {
  .review-slick { padding: 2vw 7vw; }
  .review-slick-slide { 
    margin: 1vw; 
    border-radius: 20px;
    padding: 1vw 2vw 2vw;
    min-height: 20.33vw;
  }
    .review-slick-slide  {
    margin-top: 2vw;
  }
  .bigger-review { height: 24vw !important; margin-top: 0 !important;} 
  .m8-arrow { 
    margin-top: -18vw;
    width: 4vw;
  }
  .m8-review-stars {
    width: 10vw;
    margin-top: 1vw;
  }

    .review-slick-do span {
        border-radius: 0.5vw !important;
        padding: 0 0.5vw 0.5vw !important;
        display: inline-block;
        font-weight: 500;
        background-color: #C4C0E3;
    }
}

@media only screen and (max-width: 799px) {
  .review-slick { padding: 2vw 7vw; }
  .review-slick-slide {
        margin: 3vw;
        border-radius: 20px;
        padding: 1vw 2vw 2vw;
        height: 40.5vw;
    }
  .m8-arrow {
        margin-top: -70vw;
        width: 9vw;
    }
.m8-review-stars {
        width: 21vw;
        margin-top: 2vw;
    }
    .review-slick-mo p, .review-slick-mo .subscript { font-size: 3vw; }
    .review-slick-mo span  {
        border-radius: 1vw !important;
        padding-bottom: 0.5vw !important;
        display: inline-block;
        font-weight: 500;
        background-color: #C4C0E3;
    }
}



</style>
<script>

  $('.review-slick-do').slick({
  infinite: true,
  slidesToShow: 3,
  slidesToScroll: 3,
  adaptiveHeight: true, 
     prevArrow: $('.prev-arrow.do'),
    nextArrow: $('.next-arrow.do'),
  
});
    
      $('.review-slick-mo').slick({
  infinite: true,
  slidesToShow: 1,
  slidesToScroll: 1,
  adaptiveHeight: true, 
     prevArrow: $('.prev-arrow.mo'),
    nextArrow: $('.next-arrow.mo'),

});
</script>
<script>
  <%# I hate the way I did this but deadlines are deadlines %>
$('.review-slick-do .review-slick-slide').each(function(index){
    if (index == 1 || index == 4 || index == 7 || index == 10 || index == 13 || index == 16) {
        $(this).addClass('bigger-review')
        console.log($(this))
    }
  })
</script>
