<section class="main slick-wrapper">
  <% @reviews.each do | review | %> 
      <div class="">
 <div class="accent-padding flex-container border-charcoal" style="">
      <div class="one-third accent-padding">
        <h3 class="ttu text-charchoal nm"><%= review.product.title %></h3>
        <p class=" text-yellow">
            <% review.rating.times do%>
              ★
            <% end %>
        </p>
        <p class="subscript nmb"><%= review.author_first %> <%= review.author_last.first(1) %>.<span class="do desktop-time"><%= review.created_at.strftime('%m/%d/%Y') %></span><br>
        Verified buyer</p>
        <p class="nm subscript mo"><%= review.created_at.strftime('%m/%d/%Y') %></p>
      </div>
      <div class="accent-padding two-thirds">
        <p><%= review.text %></p>
      </div>
    </div>
    




 </div>
  <% end %>
  </section>
<style>
  .border-charcoal { border: 1px solid gray; border-radius: 20px;}
  @media only screen and (max-width: 799px) {
    .border-charcoal { width: calc(100% - 40px); margin: 0 auto }
  }
  .review-wrapper { min-width: auto !important; }
  .review-wrapper { align-items: flex-start; }

  @media only screen and (min-width: 589px) {
  .flex-override { display: flex !important; }
  }
  @media only screen and (max-width: 588px) {
    .flex-override { display: block !important; }
  }
  .clickable { cursor: pointer; }
</style>
<script>

  $('.slick-wrapper').slick({
  infinite: true,
  speed: 300,
  slidesToShow: 1,
  adaptiveHeight: true
});
    
</script>
