<% if notice %>
  <p class="alert alert-success tac subscript"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger tac subscript"><%= alert %></p>
<% end %>


<section class="main pacas-employee">
  <div class="accent-padding">
    <h2 class="tac nmb">Log In to Your Account</h2>
  </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, placeholder: "Email",  autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <p class="subscript"><%= f.check_box :remember_me %>
      <%= f.label :remember_me %></p>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
  <p class="tac nmt">Don't have an account? <a href="/users/sign_up" class="border-bottom-gray">Sign up here.</a></p>

<% end %>
</section>
<%= image_tag("account-paca.png", class: "background-paca") %>