<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


<section class="main gekks-employee">
  <div class="accent-padding">
    <h2 class="tac text-green nmb">Log In to Your Account</h2>
    <h3 class="tac nmt">Don't have an account? <a href="/users/sign_up" class="text-green">sign up here</a></h3>
  </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <h3 class="text-green ib"><%= f.label :email %></h3>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <h3 class="text-green ib"><%= f.label :password %></h3>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <p><%= f.check_box :remember_me %>
      <%= f.label :remember_me %></p>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
</section>