<section class="accent-padding background-purple page-header flex-container-no paca-background">
  <div class="half-no"></div>
  <div class="half-no">
    <h3 class="tac">Reviews</h3>
    <p class="tac">Want to leave us a review?<br>
      <a href="/reviews/new" _target="blank"><span class="border-bottom-gray">Click here</span></a> to rate our socks.</p>
  </div>
</section>
<% if false %>
<section class="main">
  <h3 class="tac">Staff Favorites</h3>
  <% @favorited_reviews.each do | review | %> 
    <div class="flex-container">
      <div class="half">
        <h4 class="nmb"><%= review.author_first %>
         <% if review.author_last %>
            <span class="ttu"><%= review.author_last.first(1) %>.</span> 
          <% end %>
        <span class="text-green star-wrapper">
          <% review.rating.times do%>
            ★
          <% end %>
        </span>
        </h4>
        <div class="mo">
          <h4 class="text-green ttl nmb"><%= review.product.title %></h4>
          <p class="subscript nmt"><%= review.created_at.strftime('%m/%d/%Y') %></p>
        </div>
        <p class="nmb"><%= review.text %></p>
      </div>
      <div class="half tar" id="staff-favorite-details">
        <h3 class="text-green ttl nmb do"><%= review.product.title %></h3>
        <p class="subscript nmt do"><%= review.created_at.strftime('%m/%d/%Y') %></p>
        <%= form_for(review, remote: true) do |fa| %>
          <%= fa.hidden_field :vote, :value => review.vote + 1 %>
      <%= fa.submit "helpful?", class: "useful" %><p class="ib subscript upvote"><%= review.vote%></p>
      <% end %>
      </div>
    </div>
    <% end %>
  </section>
<% end %>

  <section class="main-to">
  <h3 class="tac">Live Stream</h3>
    <% @reviews.each_with_index do | review, index | %> 
      <% if index % 2 == 0 %> 
        <div class="flex-container lazy main">
      <% else %>
        <div class="flex-container lazy background-purple main">
      <% end %>
      <div class="half">
        <h3 class="nmb"><%= review.author_first %> 
          <% if review.author_last %>
            <span class="ttu"><%= review.author_last.first(1) %>.</span> 
          <% end %>
          <span class="text-green star-wrapper">
          <% review.rating.times do%>
            ★
          <% end %>
          </span></h3>
        <div class="mo">
          <h3 class="text-green ttl nmb"><%= review.product.title %></h3>
          <p class="subscript nmt"><%= review.created_at.strftime('%m/%d/%Y') %></p>
        </div>
        <p class="nmb"><%= review.text %></p>
      </div>
      <div class="half tar" id="live-stream-details">
        <h3 class="text-green ttl nmb do"><%= review.product.title %></h3>
        <p class="subscript nmt do"><%= review.created_at.strftime('%m/%d/%Y') %></p>
        <%= form_for(review, remote: true) do |fa| %>
        <%= fa.hidden_field :vote, :value => review.vote + 1 %>
      <%= fa.submit "helpful?", class: "useful" %><p class="ib subscript upvote"><%= review.vote%></p>
      <% end %>
      </div>
    </div>
    <% end %>
    <%= will_paginate @reviews %>

  </section>
<script>
  $('.useful').click(function() {
    $(this).attr("value", " ");
    $(this).addClass('filled-paca')
    votes = parseInt($(this).next('.upvote').text()) + 1  
    $(this).next('.upvote').text(votes)
  })
</script>