<section class="double-accent-padding background-fleece tac">
  <h1 class="nm ttu">Support for Soft</h1>
  <div id="index-review-wrapper">  
  <h3 class="tac star-wrapper-new text-yellow nm">★★★★★</h3>
  <div class="flex-container-no jcc fw">
      <h3 class="ttu nm"><%= @positive_review_count%> reviews</h3> 
      <p class="" style="margin-left: 7px; margin-top: 12px;">(and counting)!</p>
  </div>
</div>
   <a href="/reviews/new"><div class="new-btn background-charcoal ib accent-padding-so"><h4 class="ttu ib nm text-white">Write a Review</h4></div></a>
</section>

<section class=" main">
  <% @reviews.each_with_index do | review, index | %> 
    <div class="accent-padding flex-container border-light-teal " style="">
      <div class="one-third accent-padding">
        <h3 class="ttu text-charchoal nm"><%= review.product.title %></h3>
        <p class=" text-yellow" style="margin-top: 5px;">
            <% review.rating.times do%>
              ★
            <% end %>
        </p>
         <p class="subscript nmb"><%= review.author_first %> <%= review.author_last.first(1) %>.<span class="desktop-time"><%= review.created_at.strftime('%m/%d/%Y') %></span><br>        <%= image_tag("verified.png", class: "vam verified") %><span class="vam" style="font-size: 10pt;font-weight: lighter;">Verified Buyer</span>

      </p>
      </div>
      <div class="accent-padding two-thirds">
        <p><%= review.text %></p>
      </div>
    </div>
    


  <% end %>
    
    <%= will_paginate @reviews %>
  </section>

