<section class="double-accent-padding background-fleece tac">
  <h1 class="nm ttu">Unbelievably Soft</h1>
  <p class="tac">(but don't just take our word for it...)</p>  
  <h3 class="tac star-wrapper-new text-yellow nm">★★★★★</h3>
  <div class="flex-container-no jcc fw">
      <h3 class="ttu nm"><%= @positive_review_count%> reviews</h3> 
      <p class="" style="margin-left: 5px;">(and counting)!</p>
  </div>
   <a href="/reviews/new" target="_blank"><div class="new-btn background-charcoal ib accent-padding-so"><h4 class="ttu ib nm text-white">Write a Review</h4></div>
</section>

<section class=" main">
  <% @reviews.each_with_index do | review, index | %> 
    <div class="accent-padding flex-container border-light-teal " style="">
      <div class="one-third accent-padding">
        <h3 class="ttu text-charchoal nm"><%= review.product.title %></h3>
        <p class="nmt text-yellow">
            <% review.rating.times do%>
              ★
            <% end %>
        </p>
        <p class="subscript"><%= review.author_first %><br>
        Verified buyer</p>
        <p class="nm subscript"><%= review.created_at.strftime('%m/%d/%Y') %></p>
      </div>
      <div class="accent-padding two-thirds">
        <p><%= review.text %></p>
      </div>
    </div>
    


  <% end %>
    
    <%= will_paginate @reviews %>
  </section>

<script>
  $('.useful').click(function() {
    $(this).attr("value", "thanks!");
    $(this).addClass('filled-paca')
    votes = parseInt($(this).next('.upvote').text()) + 1  
    $(this).next('.upvote').text(votes)
  })
</script>