
<h1>Leave a Review</h1>

<%= form_for @review do |form| %>
  <p>
    <%= form.label :product %><br>
    <%= form.text_field :product %>
  </p>
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>