<style>
nav { display: none; }
</style>

<div id="new-review" class="main">
  <h3 class="tac text-green nmb">Leave a Review</h3>
  <h4 class="tac nmt">We'd love to hear from you!</h4>
    <% if @review.errors.any? %>
      <p class="tac subscript">We're sorry, but an error occurred. If this continues, please contact us a support@pacas.us</p>
       <p class="error subscript tac" style="display: none;">
          <% @review.errors.full_messages.each do |msg| %>
            <%= msg %>
          <% end %>
       </p>
    <% end %>
  <%= form_for @review do |f| %>
    <% if params[:email] %> 
      <%= f.hidden_field :author_email, :value => params[:email] %>
    <% else %>
      <%= f.text_field :author_email, placeholder: "Email" %>
    <% end %>
    <% if params[:first] %> 
      <%= f.hidden_field :author_first, :value=> params[:first] %>
    <% else %>
      <%= f.text_field :author_first, placeholder: "First Name" %>
    <% end %>
    <% if params[:sur] %> 
      <%= f.hidden_field :author_last, :value => params[:sur] %>
    <% else %>
      <%= f.text_field :author_last,placeholder: "Last Name" %>
    <% end %>
      <%= f.collection_select :product_id, Product.all, :id, :title, {prompt: "Select Product"} %><br>
    <div id="rating-wrapper">
      <p class="subscript nmt">Rating:</p>
      <span class="star-cb-group">
        <%= f.radio_button :rating, 5, id: "rating-5"%><label for="rating-5">5</label>
        <%= f.radio_button :rating, 4, id: "rating-4" %><label for="rating-4">4</label>
        <%= f.radio_button :rating, 3, id: "rating-3" %><label for="rating-3">3</label> 
        <%= f.radio_button :rating, 2, id: "rating-2" %><label for="rating-2">2</label>
        <%= f.radio_button :rating, 1, id: "rating-1" %><label for="rating-1">1</label>
      </span>
    </div>
    <p>
      <%= f.text_area :text, placeholder: "Please type your review here" %>
    </p>
    <div class="button">
      <span><%= f.submit %></span>
    </div> 
  <% end %>
</div>
<%= image_tag("account-paca.png", class: "background-paca") %>