<!DOCTYPE html>
<html>
  <head>
    <title>Gekks | Reviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="clearfix">
      <a href="/"><%= image_tag("blogo.png", :class => "blogo") %></a>
      <ul>
        <li><a href="/questions">Survey</a>
        <li><a href="/reviews">All Reviews</a></li>
        <li>Logout</li>
      </ul>
    </nav>
    <div class="page_wrapper">
    <%= yield %>
  </div>
  </body>
</html>
