<!DOCTYPE html>
<html>
  <head>
    <title>Pacas, Inc. | Reviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<meta content="width=device-width, initial-scale=1" name="viewport" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  </head>

  <body>
    <% if user_signed_in? %>
    <% unless current_page?('/reviews') %>

      <nav class="background-natural">
        <ul>
          <a href="/"><%= image_tag("jlogo.png", class: "jlogo") %></a>
          <li><h4 class="ttu nm"><a href="/reviews">Published</span></a></h4>
          <li class="do"><h4 class="ttu nm"><a href="/reviews/new">New Review</a></h4></li>
          <li class="do"><h4 class="ttu nm"><%= link_to("Download CSV", reviews_path(format: :csv), class: "",) %></h4></li>
          <li><h4 class="ttu nm"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></h4></li>
        </ul>
      </nav>
      <% end %>
    <% end %>
    <div class="page">
    <%= yield %>
  </div>
  
  </body>
</html>

<script>
  $(document).ajaxSend(function(e, xhr, options) {
    var token = $("meta[name='csrf-token']").attr("content");
    xhr.setRequestHeader("X-CSRF-Token", token);
  });
</script>